<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Padel Evere</title>
  <meta name="description" content="Padel Evere">
  <meta name="author" content="Jose Cano">

  <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.css">

  <!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">Hello world</div>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
</body>
</html>